

/*

[data-role=content] > * {
    margin-left: auto !important;
    margin-right: auto !important;
}

ul[data-role=listview] li img {
    margin: 3pt;
}

[data-role=content] > ul, [data-role=content] > p, [data-role=content] > div, [data-role=content] > a,
[data-role=content] > h3, [data-role=content] > input, [data-role=content] > select, [data-role=content] > label {
    max-width: 320pt;
}

[data-role=content] > header {
    max-width: 975px;
}
*/

.globalBackground {
    background-image: url('/themes/images/global.png');
}

.bubbleRow {
    padding-top: 12px;
    padding-bottom: 5px;
}

/*.globalBackground h1 {*/
    /*background-color: white;*/
/*}*/

/*.globalBackground p {*/
    /*background-color: white;*/
/*}*/

.titleText {
    font-family: archiveregular, helvetica, sans;
    font-size: 32pt;
    text-align: center;
}

/*Portrait iPhone*/
/*@media only screen and (min-device-width: 320px) {*/
    /*#titleText {*/
        /*font-size:32pt;*/
    /*}*/
/*}*/

/*Landscape iPhone*/
/*@media only screen and (min-device-width: 480px) {*/
    /*#titleText {*/
        /*font-size:44pt;*/
    /*}*/
/*}*/

/*iPad*/
/*@media only screen and (min-device-width: 768px) {*/
    /*#titleText {*/
        /*font-size:109.5pt;*/
    /*}*/
/*}*/

/*Desktop*/
/*@media only screen and (min-device-width: 1024px) {*/
    /*#titleText {*/
        /*font-size:144pt;*/
    /*}*/
/*}*/