/* CSS declarations go here */
.magic {
    animation-name: megacolor;
    animation-duration:0.25s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-play-state:running;
    -webkit-animation-name: megacolor;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
    -moz-animation-name: megacolor;
    -moz-animation-duration:1s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:alternate;
    -moz-animation-play-state:running;
}

@keyframes megacolor {
    0% {background: red;}
    20% {background: #adff2f;}
    40% {background: orange;}
    60% {background: #1e90ff;}
    80% {background:yellow;}
    100% {background:#8a2be2;}
}

@-webkit-keyframes megacolor {
    0% {background: red;}
    20% {background: #adff2f;}
    40% {background: orange;}
    60% {background: #1e90ff;}
    80% {background:yellow;}
    100% {background:#8a2be2;}
}

@-moz-keyframes megacolor {
    0% {background: red;}
    20% {background: #adff2f;}
    40% {background: orange;}
    60% {background: #1e90ff;}
    80% {background:yellow;}
    100% {background:#8a2be2;}
}

[data-role=content] > * {
    margin-left: auto !important;
    margin-right: auto !important;
}

[data-role=content] > ul, [data-role=content] > p, [data-role=content] > div, [data-role=content] > a,
[data-role=content] > input, [data-role=content] > h3 {
    max-width: 320pt;
}

[data-role=content] > header {
    max-width: 975px;
}

/*Portrait iPhone*/
@media only screen and (min-device-width: 320px) {
    #titleText {
        font-size:32pt;
    }
}

/*Landscape iPhone*/
@media only screen and (min-device-width: 480px) {
    #titleText {
        font-size:44pt;
    }
}

/*iPad*/
@media only screen and (min-device-width: 768px) {
    #titleText {
        font-size:109.5pt;
    }
}

/*Desktop*/
@media only screen and (min-device-width: 1024px) {
    #titleText {
        font-size:144pt;
    }
}