#facebookButton {
    background: none;
    border-style: outset;
    border-width: 14px 14px 15px 69px;
    overflow: hidden;
    -moz-border-image: url(/themes/images/facebookButton.png) 14 14 15 80;
    -webkit-border-image: url(/themes/images/facebookButton.png) 14 14 15 80;
    -o-border-image: url(/themes/images/facebookButton.png) 14 14 15 80;
    border-image: url(/themes/images/facebookButton.png) 14 14 15 80 fill;
}

#facebookButton:hover {
    -moz-border-image: url(/themes/images/facebookButtonHover.png) 14 14 15 80;
    -webkit-border-image: url(/themes/images/facebookButtonHover.png) 14 14 15 80;
    -o-border-image: url(/themes/images/facebookButtonHover.png) 14 14 15 80;
    border-image: url(/themes/images/facebookButtonHover.png) 14 14 15 80 fill;
}

#facebookButton .ui-btn-inner {
    text-overflow: none;
    overflow: visible;
    margin-left: -39px;
    background: none;
}

#googleButton {
    background: none;
    border-style: outset;
    border-width: 11px 16px 15px 87px;
    overflow: hidden;
    -moz-border-image: url(/themes/images/googleButton.png) 11 16 15 140 repeat stretch;
    -webkit-border-image: url(/themes/images/googleButton.png) 11 16 15 140 repeat stretch;
    -o-border-image: url(/themes/images/googleButton.png) 11 16 15 140 repeat stretch;
    border-image: url(/themes/images/googleButton.png) 11 16 15 140 fill repeat stretch;
}

#googleButton .ui-btn-inner {
    text-overflow: none;
    z-index: 1;
    overflow: visible;
    margin-left: -53px;
    background: none;
}