<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibility-description</key>
	<string>Experience</string>
	<key>action</key>
	<string>landing-page</string>
	<key>ad-type</key>
	<string>rich</string>
	<key>background-color</key>
	<string>a4b3c1</string>
	<key>content-scalable</key>
	<true/>
	<key>creatives</key>
	<dict>
		<key>Banner_1</key>
		<dict>
			<key>creative-type</key>
			<string>standard</string>
			<key>supported-devices</key>
			<array>
				<string>iPhone</string>
				<string>iPod</string>
			</array>
			<key>transition-type</key>
			<string>slide</string>
		</dict>
	</dict>
	<key>iad-producer-version</key>
	<string>3697.1.17</string>
	<key>initial-orientation</key>
	<dict>
		<key>iPhone</key>
		<string>portrait</string>
		<key>iPod</key>
		<string>portrait</string>
	</dict>
	<key>manifests</key>
	<dict>
		<key>iPhone</key>
		<string>WebArchive.manifest</string>
		<key>iPhone@2x</key>
		<string>WebArchive@2x.manifest</string>
		<key>iPod</key>
		<string>WebArchive.manifest</string>
		<key>iPod@2x</key>
		<string>WebArchive@2x.manifest</string>
	</dict>
	<key>name</key>
	<string>Experience</string>
	<key>scrolling</key>
	<false/>
	<key>supported-devices</key>
	<array>
		<string>iPhone</string>
		<string>iPod</string>
	</array>
	<key>supported-orientations</key>
	<dict>
		<key>iPhone</key>
		<string>portrait</string>
		<key>iPod</key>
		<string>portrait</string>
	</dict>
	<key>uses-webgl</key>
	<false/>
	<key>version</key>
	<string>3.0</string>
</dict>
</plist>
