<template name="browse">
    <div class="btn-group btn-group-vertical btn-block">
        {{#each games}}
            <button style="background-image: url('{{mapUrl location 640 96}}');"
                    role="button"
                    class="btn btn-default openGameLink"
                    href="{{pathFor 'roundSummary'}}"
                    id="{{_id}}">
                <div class="text-left">
                    <span class="localGameTitle">{{#if customTitle}}{{title}}{{else}}{{#if locationFriendly}}{{locationFriendly.display_name}}{{else}}{{title}}{{/if}}{{/if}}</span>
                    <span class="ui-li-count">({{players}})</span>
                    <br/>
                    <span class="localGameDescription text-muted small">{{#each playerNames}}{{this}} {{/each}}</span>
                </div>
            </button>
        {{/each}}
    </div>
</template>