<template name="gamesList">
    {{#if loggedIn}}
    <div data-role="listview" data-split-icon="arrow-r" data-divider-theme="c">
        {{> browse}}
        <div class="btn-group btn-group-vertical btn-block">
            <button onclick="matchMake();"
                    class="btn btn-default">
                <div class="text-left">
                    <span>Join a global Partyga.me</span>
                    <br/>
                    <span class="text-muted small">Play with random people around the world!</span>
                </div>
            </button>
            <button href="{{pathFor 'createGame'}}"
                    class="btn btn-default">
                <div class="text-left">
                    <span>Start a Local Game</span>
                    <br/>
                    <span class="text-muted small">Invite people via code, SMS, FB or email</span>
                </div>
            </button>
            <button href="{{pathFor 'pickQuestion'}}"
                    class="btn btn-default">
                <div class="text-left">
                    <span>Quick Play</span>
                    <br/>
                    <span class="text-muted small">Play 1 round. Win and earn cards!</span>
                </div>
            </button>
            <button onclick="Meteor.logout();"
                    class="btn btn-default">
                <div class="text-left">
                    <span>Logout</span>
                    <br/>
                    <span class="text-muted small">Ragequit and suck forever.</span>
                </div>
            </button>
        </div>
        <!--<li data-theme="d"><a href="{{pathFor 'history'}}" onclick="answerQuestion();" data-icon="edit">Answer a Question</a></li>-->
        <!--<li data-theme="f"><a href="{{pathFor 'pickQuestion'}}" data-icon="arrow-r">Send a Question</a></li>-->
        {{> answerQuestion}}
        {{> judgeQuestion}}
        {{> pendingQuestion}}
    </div>
    {{else}}
    <button class="btn btn-default btn-block" id="facebookButton" href="#" data-role="button" onclick="loginWithFacebook()">Login with Facebook</button>
    <button class="btn btn-default btn-block" id="googleButton" href="#" data-role="button" onclick="loginWithGoogle()">Login with Google</button>

    <p class="margin-top-gutter">Login with Facebook or Google for the best experience.</p>

    <button class="btn btn-default btn-block" href="{{pathFor 'accountLogin'}}" data-mini="false" data-role="button"
       data-icon="arrow-r">Create an Account</button>
    <button class="btn btn-default btn-block" href="{{pathFor 'anonymousLogin'}}" data-mini="false" data-role="button"
       data-icon="arrow-r">Play As Guest</button>

    <p class="margin-top-gutter">The Party Game is offensive. So it's fun for the whole family. We won't post anything, we won't steal your
        information,
        and we won't look at anything. Stop being so paranoid, nobody is tracking you or interested in your Selfies with
        the Besties XOXO. (Except like the NSA and stuff).</p>

    {{/if}}
</template>