<template name="gamesList">
    {{#if loggedIn}}
    <ul data-role="listview" data-split-icon="arrow-r" data-divider-theme="c">
        {{> browse}}
        <li data-theme="d"><a href="#" data-icon="edit">Answer a Question</a></li>
        <li data-theme="f"><a href="#" data-icon="arrow-r">Send a Question</a></li>
        {{> answerQuestion}}
        {{> judgeQuestion}}
        {{> pendingQuestion}}
        <li data-theme="g" data-icon="plus"><a href="#createGame">Create Game</a></li>
        <li data-theme="c" data-icon="delete"><a href="#home" onclick="Meteor.logout();">Logout</a></li>
    </ul>
    {{else}}

    {{#unless isCordova}}
    <a id="facebookButton" href="#" data-role="button" onclick="loginWithFacebook()">Login with Facebook</a>
    <a id="googleButton" href="#" data-role="button" onclick="loginWithGoogle()">Login with Google</a>

    <p>Login with Facebook or Google for the best experience.</p>
    {{/unless}}

    <a href="#accountLogin" data-mini="false" data-role="button"
       data-icon="arrow-r">Create an Account</a>
    <a href="#anonymousLogin" data-mini="false" data-role="button"
       data-icon="arrow-r">Play As Guest</a>

    <p>The Party Game is offensive. So it's fun for the whole family. We won't post anything, we won't steal your
        information,
        and we won't look at anything. Stop being so paranoid, nobody is tracking you or interested in your Selfies with
        the Besties XOXO. (Except like the NSA and stuff).</p>

    {{/if}}
</template>