<template name="invitation">
    <p>You have been invited to play a game{{withPlayers}}!</p>
    {{#if loggedIn}}
    <a href="#" data-role="button" data-icon="arrow-r" data-theme="b" onclick="acceptInvite()">Play Now</a>
    {{else}}

    <label for="anonymousNicknameInvitation" class="ui-hidden-accessible">Nickname</label>
    <input type="text" name="anonymousNicknameInvitation" id="anonymousNicknameInvitation" value="" placeholder="Nickname"/>

    <a href="#" data-role="button" data-icon="arrow-r" onclick="loginAndAcceptInvite()">Play Now</a>
    {{/if}}
    <h3>How To Play</h3>
    <p>Read the question. Pick the funniest answer. A randomly chosen judge compares your answer to others, and picks her favorite. The winner has the most favorites.</p>
</template>