<template name="invitation">
    <h3>You have been invited to a game!</h3>
    {{#if loggedIn}}
    <a href="#" data-role="button" data-icon="arrow-r" data-theme="b" onclick="acceptInvite()">Accept</a>
    {{else}}

    <label for="anonymousNickname" class="ui-hidden-accessible">Nickname</label>
    <input type="text" name="anonymousNickname" id="anonymousNickname" value="" placeholder="Nickname"/>

    <a href="#" data-role="button" data-icon="arrow-r" onclick="loginAndAcceptInvite()">Accept</a>
    {{/if}}
</template>