<template name="menu">
    {{#if loggedIn}}
    <ul id="menuList" data-role="listview">
        {{> browse}}
        <li data-theme="c" data-icon="plus"><a href="#browse">Create Game</a></li>
        <li data-theme="c" data-icon="delete"><a href="#browse" onclick="Meteor.logout();">Logout</a></li>
    </ul>
    {{else}}
    <a id="facebookButton" href="#" data-role="button" onclick="loginWithFacebook()">Login with Facebook</a>
    <a id="googleButton" href="#" data-role="button" onclick="loginWithGoogle()">Login with Google</a>


    <center>
        <div>
            <div data-role="controlgroup" data-type="horizontal">
                <a href="#accountLogin" data-mini="true" data-role="button" data-icon="arrow-r">Create an Account</a>
                <a href="#anonymousLogin" data-mini="true" data-role="button" data-icon="arrow-r">Play As Guest</a>
            </div>
        </div>
    </center>
    <p>Login with Facebook or Google for the best experience. We won't post anything, we won't steal your information,
        and we won't look at anything. Stop being so paranoid, nobody is tracking you or interested in your Selfies with
        the Besties XOXO.</p>
    {{/if}}
</template>