<template name="navbar">
    <nav class="navbar navbar-default navbar-fixed-mobile" role="navigation">
        <div class="container-fluid">
            <div class="navbar-brand hidden-xs hidden-sm">
                PartyGa.me
            </div>
            <div class="navbar-header">
                <div class="btn-group btn-block">
                <button href="home" type="button" class="btn btn-default navbar-btn {{$active 'home'}}">
                    Play
                </button>
                <button href="roundSummary" type="button" class="btn btn-default navbar-btn {{#unless currentGameId}}disabled{{/unless}}">
                    Current Game
                </button>
                <button href="createGame" type="button" class="btn btn-default navbar-btn {{$active 'createGame'}}">
                    Start Game
                </button>
                    {{!--
                <button type="button" class="btn btn-default navbar-btn disabled">
                    Invite
                </button>
                --}}
                <button type="button" class="btn btn-default navbar-btn disabled">
                    Craft Cards
                </button>

                </div>
                {{!--
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PartyGame</a>
                --}}
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right navbar-accounts-ui">
                    {{> loginButtons align='right'}}
                </ul>
            </div>
            {{!--
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{{$active 'home'}}"><a href="#">My Games</a></li>
                    <li class="{{$active 'createGame'}}"><a href="{{pathFor 'createGame'}}">Start Game</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {{#if loggedIn}}
                            <li><a href="#">Browse Games</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                            {{else}}
                            {{/if}}
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            --}}
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</template>