<template name="nextButtons">
    <div class="btn-group btn-group-vertical btn-block" id="nextButtonsListView" data-role="listview" data-inset="false">
        {{#if canPlay}}
            {{#if isJudge}}
            <a class="btn btn-sm btn-default" data-theme="b">You are the judge this round!</a>
            <a class="btn btn-default" href="{{pathFor 'waitForPlayers' gameId=getCurrentGameId}}" data-icon="arrow-r">Next</a>
            {{else}}
            <a class="btn btn-default" href="{{pathFor 'chooseCardFromHand' gameId=getCurrentGameId}}" data-icon="arrow-r">Next</a>
            {{/if}}
        {{/if}}
    </div>
</template>
