<template name="scores">
    {{#each scores}}
    {{#if gameIsOwner}}
    <button class="btn btn-default">
        <a href="#">{{name}} {{#unless connected}}(Disconnected){{/unless}} <span class="ui-li-count">{{score}}</span></a>
        <a onclick="kickThisPlayer('{{playerId}}')" class="userKick" href="#" id="{{playerId}}">Kick</a>
    </button>
    {{else}}
    <button class="btn btn-default">{{name}} {{#unless connected}}(Disconnected){{/unless}} <span class="ui-li-count">{{score}}</span></button>
    {{/if}}
    {{/each}}
</template>