<template name="submissions">
    {{#each submissions}}
        <li>
            {{#if canJudge}}
                <a class="submission" id="{{_id}}" href="{{pathFor 'preview' gameId=getCurrentGameId cardId=answerId}}">{{{text}}}</a>
            {{else}}
                {{#if canReveal}}
                    {{{text}}}
                {{else}}
                    {{#if submitted}}
                        (Waiting to reveal...)
                    {{else}}
                        (Waiting for answer...)
                    {{/if}}
                {{/if}}
            {{/if}}
        </li>
    {{/each}}
</template>
