<template name="submissions">
    {{#each submissions}}
        {{#if canJudge}}
        <li><a class="submission" id="{{_id}}" href="#preview">{{{text}}}</a></li>
        {{else}}
            {{#if canReveal}}
            <li>{{{text}}}</li>
            {{else}}
                {{#if submitted}}
                <li>(Waiting to reveal...)</li>
                {{else}}
                <li>(Waiting for answer...)</li>
                {{/if}}
            {{/if}}
        {{/if}}
    {{/each}}
</template>