<template name="anonymousLoginView">

<div data-role="page" id="anonymousLogin" data-add-back-btn="true" data-theme="a">
    <div data-role="header" data-position="fixed">
        <h1>Guest Play</h1>
    </div>
    <div data-role="content">

        <label for="anonymousNickname" class="ui-hidden-accessible">Nickname</label>
        <input type="text" name="anonymousNickname" id="anonymousNickname" value="" placeholder="Nickname"/>

        <a href="#" data-role="button" data-icon="arrow-r" onclick="loginAnonymously()">Play Now</a>
        <p>Take advantage of our free game. Rob us of the opportunity to make our game better by seeing if you ever play again. Be that way.</p>
    </div>
    <div data-role="footer" data-position="fixed" data-id="thefooter">
        <h4>{{> connectionError}}</h4>
    </div>
</div>

</template>