<template name="chooseCardFromHandView">

<div data-role="page" id="chooseCardFromHand" data-theme="a">
    <div data-role="header" data-position="fixed">
        <h1>
            Pick An Answer Card
        </h1>
    </div>

    <div data-role="content">
        <ul id="questionList" data-role="listview" data-inset="false" data-theme="b" data-divider-theme="b">
            <li data-role="list-divider">Question</li>
            {{> question}}
        </ul>

        <div id="handCollapsible" data-role="collapsible" data-theme="d" data-content-theme="d" data-inset="false" data-collapsed="false">
            <h3>Your Cards</h3>
            <ul id="handList" data-role="listview" data-inset="false" data-theme="d">
                {{> hand}}
            </ul>
        </div>
    </div>

    <div data-role="footer" data-position="fixed" data-id="thefooter">
        <h4>{{> connectionError}}</h4>
    </div>
</div>

</template>