<template name="createGameView">
<div data-role="page" id="createGame" data-add-back-btn="true" data-theme="a">
    <div data-role="header" data-position="fixed">
        <h1>Create New Game</h1>
    </div>
    <div data-role="content">
        <div class="form-group">
            <input class="form-control" type="text" name="gameTitle" id="gameTitle" value="" placeholder="Title"/>
        </div>

        <button class="btn btn-default btn-block" data-role="button" data-icon="plus" onclick="createAndJoinGame()">Create and Join</button>
    </div>
    <div data-role="footer" data-position="fixed" data-id="thefooter">
        <h4>{{> connectionError}}</h4>
    </div>
</div>


</template>