<body>

<div data-role="page" id="gamesList" data-theme="a">
    <div data-role="header" data-position="fixed">
        <a href="#home" data-icon="arrow-l">Stats</a>

        <h1>Redacted</h1>
        <a href="#home" data-icon="plus">New Game</a>
    </div>
    <div data-role="content">
        <a href="#store" data-role="button">Store</a>
        <ul data-role="listview" data-inset="true" data-split-icon="arrow" data-split-theme="a">
            <li data-role="list-divider">Join The Party</li>
            <li data-theme="c"><a href="#">
                <img src="/themes/images/redacted_72.png">

                <h2>Local Game</h2>

                <p>Friend Names</p></a>
                <a href="#roundSummary" class='magic'>Play</a>
            </li>
            <li data-role="list-divider">Your Turn</li>
            <li data-theme="c"><a href="#">
                <img src="/themes/images/redacted_72.png">

                <h2>Game Title</h2>

                <p>Last Card</p></a>
                <a href="#roundSummary">Play</a>
            </li>
            <li data-theme="c"><a href="#">
                <img src="/themes/images/redacted_72.png">

                <h2>Game Title</h2>

                <p>Last Card</p></a>
                <a href="#roundSummary">Play</a>
            </li>
        </ul>
        <div data-role="controlgroup" data-type="horizontal">
            <a href="#" data-role="button">Facebook</a>
            <a href="#" data-role="button">Twitter</a>
        </div>
        <ul data-role="listview" data-inset="true" data-split-icon="arrow-r" data-split-theme="a">
            <li data-role="list-divider">Waiting</li>
            <li data-theme="c"><a href="#">
                <img src="/themes/images/redacted_72.png">

                <h2>Game Title</h2>

                <p>Last Card</p></a>
                <a href="#roundSummary">Play</a>
            </li>
            <li data-theme="c"><a href="#">
                <img src="/themes/images/redacted_72.png">

                <h2>Game Title</h2>

                <p>Last Card</p></a>
                <a href="#roundSummary">Play</a>
            </li>
            <li data-theme="c"><a href="#">
                <img src="/themes/images/redacted_72.png">

                <h2>Game Title</h2>

                <p>Last Card</p></a>
                <a href="#roundSummary">Play</a>
            </li>
        </ul>
    </div>
</div>

</body>