<body>


<div data-role="page" id="news" data-add-back-btn="true" data-theme="a">
    <div data-role="header" data-position="fixed">
        <h1>News</h1>
    </div>
    <div data-role="content">
        <div data-role="collapsible">
            <h3>Welcome to Redacted Online! The Features</h3>
            <p>Thanks for visiting. This is the first ready-to-play version of Redacted Online, a Cards Against
                Humility online clone.</p>
            <p>Please visit <a href="www.cardsagainsthumanity.com">Cards Against Humanity</a> for an overview of the
                game.</p>
            <p>In the first release, Redacted Online features <span style="font-style: italic">almost</span>
                everything you need to get started.</p>
            <div data-role="collapsible" data-theme="b" data-content-theme="a" data-collapsed="false">
                <h3>Local Matchmaking</h3>
                <p>Login, and tap Quick Match. You'll join into the game nearest to you! Great for parties and angry
                    mobs.</p>
            </div>
            <div data-role="collapsible" data-theme="b" data-content-theme="a" data-collapsed="false">
                <h3>The Full Cards Against Humanity Deck</h3>
                <p>Licensed Creative Commons BY-NC-SA 2.0. Buy their game.</p>
            </div>
            <div data-role="collapsible" data-theme="b" data-content-theme="a" data-collapsed="false">
                <h3>Cross-Platform</h3>
                <p>Visit redacted.meteor.com and play on your iPhone, iPad, Android phone, Mac or PC—even Internet
                    Explorer, and even the five of you that own Windows phones.</p>
            </div>
            <div data-role="collapsible" data-theme="b" data-content-theme="a" data-collapsed="false">
                <h3>Game Maintenance</h3>
                <p>Old games get removed. Games with no connected players get removed. Disconnected players don't
                    get to judge. Game owners can kick players and close down the game. These features help keep the
                    system working so you don't have to.</p>
            </div>
        </div>
        <div data-role="collapsible">
            <h3>The Roadmap: Upcoming Features</h3>
            <p>More animations, graphics and sex. Everything you want.</p>
            <div data-role="collapsible" data-theme="b" data-content-theme="a" data-collapsed="false">
                <h3>Virtual Table With An iPad</h3>
                <p>See the cards played on the "table" with an iPad. Great for parties.</p>
            </div>
            <div data-role="collapsible" data-theme="b" data-content-theme="a" data-collapsed="false">
                <h3>Hot Seat Play</h3>
                <p>Play with one iPad, iPhone, Android Phone, Mac or PC. Just like Redacted for iPad.</p>
            </div>
            <div data-role="collapsible" data-theme="b" data-content-theme="a" data-collapsed="false">
                <h3>Passwords</h3>
                <p>Passwords on games. Pretty handy for private stuff.</p>
            </div>
            <div data-role="collapsible" data-theme="b" data-content-theme="a" data-collapsed="false">
                <h3>Native Apps</h3>
                <p>100% native clients for iPhone, iPad and Android. But this interface is still pretty
                    great, don't you think?</p>
            </div>
        </div>
    </div>
</div>

</body>