<body>

<div data-role="page" id="pickFriends" data-add-back-btn="true" data-theme="a">
    <div  data-role="header" data-position="fixed">
        <h1>Pick Friends</h1>
    </div>
    <div style="padding-top: 15px;" data-role="content">
        <ul data-role="listview" data-inset="false" data-theme="c" class="fbListView" data-filter="true" data-filter-reveal="true" data-filter-placeholder="Type your friend name here...">
            {{> friendSelection}}
        </ul>
    </div>
    <div data-role="footer" data-position="fixed" data-id="thefooter" data-theme="c" data-tap-toggle="false">
        <ul data-role="listview" data-inset="false" data-theme="d">
            <li><a href="#" data-icon="plus" onclick="friendSelected();"><h1>Invite</h1></a></li>
        </ul>
    </div>
</div>

</body>