<template name="previewView">
<div data-role="page" id="preview" data-add-back-btn="true" data-theme="a">
    <div data-role="header" data-position="fixed">
        <h1>Preview</h1>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="false" data-theme="e" style="margin-top:15px;">
            {{> preview}}
        </ul>
        <br/>
        <!--<div class="btn-group btn-block center-block">-->
        <div class="text-center">
            <div class="btn-group btn-group-lg text-muted">
                <button onclick="previewNo()" class="btn btn-default">Nah</button>
                <button onclick="previewYes()" class="btn btn-primary">Yep</button>
            </div>
        </div>
        <!--</div>-->
    </div>
    <div data-role="footer" data-position="fixed" data-id="thefooter">
        <h4>{{> connectionError}}</h4>
    </div>
</div>

</template>