<template name="waitForPlayersView">

<div data-role="page" id="waitForPlayers" data-theme="a">
    <div data-role="header" data-position="fixed">
        <a href="{{pathFor 'home'}}" data-icon="arrow-l">Menu</a>
        <h1>
            {{#if isJudge}}
            Judge Answers
            {{else}}
            Waiting For Others
            {{/if}}
        </h1>
    </div>

    <div data-role="content">
        <ul id="questionListInWaitForPlayers" data-role="listview" data-inset="false" data-theme="b" data-divider-theme="b">
            <li data-role="list-divider">Question</li>
            {{> question}}
        </ul>

        <div id="submissionsCollapsible" data-role="collapsible" data-theme="c" data-content-theme="c" data-inset="false" data-collapsed="false">
            {{> reviewSubmissions}}
        </div>

        <div id="scoresCollapsible" data-role="collapsible" data-theme="a" data-content-theme="a" data-inset="false" data-collapsed="false">
            <h3>Scores</h3>
            <ul id="scoresList" data-role="listview" data-inset="false" data-split-icon="delete">
                {{> scores}}
            </ul>
        </div>
    </div>
</div>

</template>