.ad-normal #Loading { height: 480px; width: 320px; }
.ad-normal #Loading-loadingSpinner { height: 100px; left: 110px; top: 190px; width: 100px; }
.ad-normal-4-inch #Loading { height: 568px; width: 320px; }
.ad-normal-4-inch #Loading-loadingSpinner { left: 110px; top: 234px; }
